<div class="col-md-4 col-md-offset-4">
    <h2>编辑 My Posts</h2>

    <hr>
    <%= simple_form_for @post do |f| %>

      <div class="form-post">
        <%= f.input :content, input_html: { class: "form-control"} %>
        <%= f.input :group name, input_html: { class: "form-control"} %>
      </div>

      <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    <% end %>

</div>
